# Yarn
yarn.lock
.yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Npm
node_modules
package.json
package-lock.json

# Docker
Dockerfile

# Logs
*.log
npm-debug.log*

# Preferences
config.json
.env
.vscode

# Folders
.git
config
database
assets

# Misc
.DS_STORE
test.js
