yarn.lock
.yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.next
/.idea
npm-debug.log*
*.env

# Node Modules
node_modules

# Any Generated Logs
*.log

# MacOS
*.DS_Store

# Ignore WebStorm HTTP Client private envs
*.private.env.json

# Ignore setting files for Visual Studio Code
.vscode/
.secrets/

# Miscelaneous 
.VSCodeCounter
/temp